<form class="ui segment form" action="/dashboard/addgoal" method="POST">
    <div class="two fields">
        <div class="field">
            <label>Future Date</label>
            <input placeholder="dd/mm/yyyy" type="date" name="futuredate">
        </div>
        <div class="field">
            <label>Measurement</label>
            <input placeholder="Goal weight in kg" type="text" name="measurement">
        </div>
    </div>
    <button class="ui blue submit button">Add Goal</button>
</form>