{{> menu id="about"}}

<section class="ui center aligned middle aligned two column grid segment">
    <div class="column">
        <header class="ui header"> My Gym App </header>

        <p>
            321 Seasame Street,<br>
            Middle Of Nowhere.
        </p>

    </div>
    <div class="column">
        <img class="ui image"
             src="https://cdn.glitch.com/39ea376a-159a-4980-97a3-0816cc0ae4e6%2Fimgstart.jpg?1535880566884">
    </div>
</section>
