{{> welcomemenu }}

<div class="ui floating segment">
    <div class="ui two column middle aligned center aligned grid basic segment">
        <div class="column">
            <h1>My Gym App</h1>
            <p>Fill in your assessments week by week and track your
                BMI. Trainers will comment on your progress and
                encourage you to keep going!</p>
        </div>
        <div class="column">
            <img class="ui image" src="https://cdn.glitch.com/21dabb7b-0fc8-45a6-939a-0aa0e5afdc81%2Fabout.jpg?1535572405044">
        </div>
    </div>
</div>